$font-height-400: 400;
$font-height-600: 600;
$font-height-600: 700;
$font-family: "Red Hat Text", sans-serif;
$color-red: hsl(14, 86%, 42%);
$color-green: hsl(159, 69%, 38%);
$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-300: hsl(14, 65%, 9%);